<nav>
    <ul>
        <a href="."><img class="logo" src="./images/logo.webp" alt=""></a>
        <li><a href="./poc">Puntos de recarga</a></li>
        <li><a href="./changestation">Estaciones</a></li>
        <li><a href="./statistics">Estadisticas</a></li>
    </ul>
</nav>