<nav>
    <ul>
        <a href="/"><img class="logo" src="/images/logo.webp" alt=""></a>
        <li><a href="/chargestation">Estaciones</a></li>
        <li><a href="/statistics">Estadisticas</a></li>
    </ul>
</nav>